{% extends "dashboard_base.html" %}
{% block dashboard_body %}
{% block import %}
{{ super() }}
<link href="/static/appointment.css" rel="stylesheet">
{% endblock %}
{% with base_url = "/appointments" %}
<h2>Agendamentos</h2>
<a class="button" href="/appointments/create">Criar novo agendamento</a>
{% with filters = True %}
{% include "components/appointment_list.html" %}
{% endwith %}
{% endwith %}
{% endblock %}
