<html>
    <head>
        <title>tictoc - {% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Freeman&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/base.css">
        {% block import %}{% endblock %}
    </head>
    {% block body %}
    {% endblock %}
</html>
