{% extends "base.html" %}
{% block import %}
<link rel="stylesheet" href="/static/dashboard.css">
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="dashboard">
    <div class="dashboard_sidebar">
        {% include "components/dashboard_sidebar.html" %}
    </div>
    <div class="dashboard_body">
    {% block dashboard_body %}{% endblock %}
    </div>
</div>
{% endblock %}
