{% extends "base.html" %}
{% block import %}
<link rel="stylesheet" href="/static/login.css">
{% endblock %}
{% block title %}Entrar{% endblock %}
{% block body %}
<div class="login_box">
    <form action="{{ url_for('login_user') }}" method="post" class="login_box_form">
        <input required placeholder="username", name="username" value={{ username or ""}}></input>
        <input required placeholder="password" type="password" name="password" value={{ password or ""}}></input>
        {% if error_message %}
        <p>{{ error_message or ""}}</p>
        {% endif %}
        <input type="submit" value="Log In" class="button"></input>
    </form>
</div>
{% endblock %}
