{% extends "dashboard_base.html" %}
{% block dashboard_body %}
{% block import %}
{{ super() }}
<link href="/static/service.css" rel="stylesheet">
{% endblock %}
{% with base_url = "/services" %}
<h2>Serviços</h2>
<a class="button" href="/services/create">Criar novo serviço</a>
{% with filters = True %}
{% include "components/service_list.html" %}
{% endwith %}
{% endwith %}
{% endblock %}
