body {
    display: flex;
    flex-direction: column;
    border: 0px;
    margin: 0px;
    padding: 1rem;
    font-family: "Freeman";
    background-color: #ECEFF1;
    color: #212121;
    max-width: 100vw;
    min-height: calc(100vh - 2rem);
}

h1, h2, h3, h4, h5 {
    padding: 0px;
    margin: 10px;
}

.page_changer {
    margin: 1rem;
}

.page_changer a {
    margin: 1rem;
}

.button {
    padding: 10px;
    background-color: #212121;
    color: #ECEFF1;
    margin: 10px;
    text-decoration: none;
    max-width: 300px;
    max-height: 150px;
}

.button:hover {
    background-color: #424242;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters_item {
    margin: 5px;
}
