.dashboard {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.dashboard_sidebar {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.dashboard_body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

