.index_navigation_bar {
    display: flex;
    flex-direction: row-reverse;
}

.index_service_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 10px;
}

.index_service_list_item {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    color: #ECEFF1;
    height: 400px;
    width: 350px;
    padding: 10px;
}

.index_service_list_item_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index_service_list_item_body {
    align-self: stretch;
    justify-self: stretch;
    height: 100%;
}
