.login_box {
    display: flex;
    flex: 1 0; 
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login_box_form {
    display: flex;
    background-color: #424242;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #212121;
    padding: 2rem;
    height: 300px;
    width: 300px;
    justify-content: center;
}

.login_box_form input {
    height: 3rem;
}
