.service_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;

}

.service_list_item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid #212121;
    padding: 10px; 
}

.service_list_item_body {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.service_list_item_footer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.service_list_item_footer span {
    grid-column-end: span 2;
}
