{% if operation == "update" %}
{% set request_url = url_for('update_appointment_api', appointment_id=appointment_id)%}
{% else %}
{% set request_url = url_for('create_appointment_api') %}
{% endif %}
<form action="{{ request_url }}" method="POST" class="information_form">
    <label for="description">Descrição</label>
    <input type="text" name="description" placeholder="Descrição" value="{{ description or ''}}"required></input>
    <label for="start_date">Data e Horário</label>
    <input type="datetime-local" name="start_date" required value="{{ start_date or datetime.now() }}"></input>
    <label for="service">Serviço</label>
    <select name="service" required>
        {% for select_service in services.results.get("Service").values() | sort(attribute="name") %}
        <option value="{{ select_service['service_id'] }}" {{ 'selected="selected"' if select_service['service_id'] == service }}>{{ select_service["name"] | upper }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Enviar" class="button" style="grid-column-end: span 2"></input>

    {% if error_message %}
    <span style="color: red">{{ error_message }}</span>
    {% endif %}
</form>
