{% if filters %}
<form class="filters">
    <label class="filters_item" for="start_date">Data Início</label>
    <input class="filters_item" type="date" name="start_date" value="2024-01-01"></input>
    <label class="filters_item" for="end_date">Data Término</label>
    <input class="filters_item" type="date" name="end_date" value="2100-12-31"></input>
    <label class="filters_item" for="description">Descrição</label>
    <input class="filters_item" type="text" placeholder="Descrição" name="description"></input>
    <input class="button" type="submit" value="Filtrar"></input>
</form>
{% endif %}
{% with appointments = data.results.get("Appointment", {}) %}
{% with services = data.results.get("Service", {}) %}
<div class="appointment_list">
{% for appointment in appointments.values() | sort(attribute="start_date") %}
    {% include "components/appointment_list_item.html" %}
{% endfor %}
</div>
{% endwith %}
{% endwith %}
{% include "components/page_changer.html" %}


