<div class="appointment_list_item">
    <div class="appointment_list_item_header">
        <h3>{{ appointment["description"] | upper }}</h3>
    </div>
    <div class="appointment_list_item_body">
        <h4>{{ services[appointment["service"]]["name"].upper() }}</h4>
    </div>
    <div class="appointment_list_item_footer">
        <span>Dia: {{ appointment["start_date"].strftime("%d/%m/%Y") }}</span>
        <span>Horário: {{ appointment["start_date"].strftime("%H:%M") }}</span>
        <span>Duração: {{ services[appointment["service"]]["duration_in_minutes"] }} minutos</span>
        <a class="button" href="/appointments/update/{{ appointment["appointment_id"] }}">Editar</a>
        <a class="button" href="/appointments/delete/{{ appointment["appointment_id"] }}">Deletar</a>
    </div>
</div>
