<a class="button" href="/">Sair</a>
<a class="button" href="/dashboard">Página Inicial</a>
<h3>Serviços</h3>
<a class="button" href="/services">Listar serviços</a>
<h3>Agendamentos</h3>
<a class="button" href="/appointments">Listar agendamentos</a>

