<div class="index_service_list_item">
    <div class="index_service_list_item_header">
        <h2> {{ service["name"].upper() }} </h2>
    </div>
    <div class="index_service_list_item_body">
        <h3> {{ service["description"] or "" | upper}} </h3>
    </div>
    <div class="index_service_list_item_footer">
        <h4>Preço: R$ {{ "%.2f" % service["price"] }}</h4>
        <h4>Duração: {{ service["duration_in_minutes"] }} minutos</h4>
    </div>
</div>
