{% if filters %}
<form class="filters">
    <label class="filters_item" for="name">Nome</label>
    <input class="filters_item" type="text" name="name" placeholder="Nome"></input>
    <label class="filters_item" for="description">Descrição</label>
    <input class="filters_item" type="text" placeholder="Descrição" name="description"></input>
    <input class="button" type="submit" value="Filtrar"></input>
</form>
{% endif %}
<div class="service_list">
{% with services = data.results.get("Service") %}
{% for service in services.values() | sort(attribute="name") %}
    {% include "components/service_list_item.html" %}
{% endfor %}
{% endwith %}
</div>
{% include "components/page_changer.html" %}


