<div class="service_list_item">
    <div class="service_list_item_header">
        <h3>{{ service["name"] | upper }}</h3>
    </div>
    <div class="service_list_item_body">
        <h4>{{ service["description"] }}</h4>
    </div>
    <div class="service_list_item_footer">
        <span>Preço: R$ {{ "%.2f" % service["price"] }}</span>
        <span>Duração: {{ service["duration_in_minutes"] }} minutos</span>
        <a class="button" href="/services/update/{{ service["service_id"] }}">Editar</a>
        <a class="button" href="/services/delete/{{ service["service_id"] }}">Deletar</a>
    </div>
</div>
