{% if operation == "update" %}
{% set request_url = url_for('update_service_api', service_id=service_id) %}
{% else %}
{% set request_url = url_for('create_service_api') %}
{% endif %}
<form action="{{ request_url }}" method="POST" class="information_form">
    <label for="name">Nome</label>
    <input type="text" name="name" placeholder="Name" value="{{ name or ''}}"required></input>
    <label for="description">Descrição</label>
    <input type="text" name="description" placeholder="Descrição" value="{{ description or ''}}"required></input>
    <label for="price">Preço</label>
    <input type="number" name="price" placeholder="Preço" value="{{ price or 0}}"required></input>
    <label for="duration_in_minutes">Duração</label>
    <input type="number" name="duration_in_minutes" placeholder="Duração (em minutos)" value="{{ duration_in_minutes or 1}}"required></input>
    <input type="submit" value="Enviar" class="button" style="grid-column-end: span 2"></input>

    {% if error_message %}
    <span style="color: red">{{ error_message }}</span>
    {% endif %}
</form>
